
@font-face {
    font-family: mon;
    src: url(IMG/mon.ttf);
}

@font-face {
    font-family: man;
    src: url(IMG/LEMONMILK-Bold.otf);
}
.panel{
    background-color: #FFF2D7;
    border: 1px solid #3C5B6F;
    border-radius: 10px;
    margin: 200px ;
    padding: 5px;
    text-align: center;
    width: 40%;

}
h2{
    font-family: mon;
    color: #3C5B6F;
    
}
button{
    font-family: man;
    display: block;
    margin: 10px auto;
    padding: 5px;
    background-color: #3C5B6F;
    color: #FFF2D7;
    border-radius: 5px;
    border: 1px solid #FFF2D7;
    width: 60%;
    box-shadow: 5px 5px 5px #3C5B6F;
}
h6{
    text-align: left;
    padding: 0;
    margin: 0;
}
button:hover{
    background-color: #FFF2D7;
    border: 1px solid #3C5B6F;
    color: #3C5B6F;
    box-shadow: 5px 5px 5px #1a2e3b;

}
.nsba{
    background-color: #FFF2D7;
    border: 1px solid #3C5B6F;
    border-radius: 10px;
    margin: 100px auto;
    text-align: center;
    width: 40%;
    color: #3C5B6F;
}
#return{
    color: #3C5B6F;
text-decoration: none;
}