
section{
    text-align: center;


}


#Contant{
    font-size: 50px;
    display: block;
}
#Contant:hover{
    transition: .5s;
    font-size: 55px;
    color: #f5230a;

}
@media (max-width :858px){
    section{
        padding: 20px;
    }
    section h1{
        padding-bottom: 25px;
        font-size: 25px;
    }

    #Contant{
        font-size: 35px;

    }
    #Contant:hover{
        font-size: 38px;
    
    }
}