
section{
    text-align: center;


}


#instagram{
    font-size: 50px;
    margin-top: 20px;
    display: block;
}
#instagram:hover{
    transition: .5s;
    font-size: 55px;
    color: #E1306C;
}
#facebook{
    font-size: 50px;
    margin-top: 20px;
    display: block;
}
#facebook:hover{
    transition: .5s;
    font-size: 55px;
    color: #4267B2;
}
@media (max-width :858px){
    section{
        padding: 20px;
    }
    section h1{
        padding-bottom: 25px;
        font-size: 25px;
    }

    #Contant{
        font-size: 35px;

    }
    #Contant:hover{
        font-size: 38px;
    
    }
}