

.Elments{
    text-align: center;
    width: 300px;
    background-color: #FFBB70;
    border-radius: 15px;
    color: white;
    padding: 30px;
    border-right: solid 2px #ffffff;
    box-shadow: 5px 5px 5px #1001055d;
    padding-top: 5px;
    margin: 10px;
    display: inline-block;
}
.Elments:hover{
    
    box-shadow: 2px 2px 2px #FFBB70;
    transition: .5s;
    background-color: #ffdeba;
    color: black;
}
.Elments h1{
    color: white;
    font-family: man;
    margin-bottom: 35px;
}
img{
    width: 100px;
}
.S1{
    text-align: center;
}
input{
    width: 20%;
    margin: 15px 5px;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    background-color: #ffffff;
    font-family: mon;
    color: #FFBB70;
    text-align: center;
}
input:focus {
    box-shadow: inset 0 0 6px #FFBB70;
    margin: 15px 20px;
    background-color: #FFBB70;
    color: #fff;
    font-family: man;
  }
.Order button{
    font-family: mon;
}


body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #FFBB70;
    border-radius: 10px;

}
 
body::-webkit-scrollbar-thumb {
  background-color: #FFBB70;
  outline: 1px solid slategrey;
  border-radius: 10px;

}
input[type="text"]:checked {
    box-shadow: 0 0 0 3px orange;
  }
@media (max-width :858px){
    section{
        padding: 20px;
    }
    section h1{
        padding-bottom: 25px;
        font-size: 25px;
    }
    .Elments{
        width: 150px;
        margin: 15px;
    }
    .Elments h1{
        font-size: 15px;
        margin-bottom: 2px;
    }
    img{
        width: 60px;
    }
    input{
        width: 80%;
    }
}                   