

.Elments{
    text-align: center;
    width: 300px;
    border-radius: 5px;
    color: white;
    padding: 30px;
    border: solid 2px #fff;
    box-shadow: 5px 5px 5px #1001055d;
    padding-top: 5px;
    margin: 10px;
    display: inline-block;
    
}
.Elments:hover img{
    transition: .3s;
    scale: 1.2;   
}
.Elments:hover{
    padding-bottom: 35px;
    box-shadow: 2px 2px 2px #ffffff;
    transition: .5s;
    background-color: #afafaf9c;
}
.Elments h1{
    color: white;
    font-family: man;
    margin-bottom: 35px;
}
img{
    width: 100px;
}
.S1{
    text-align: center;
}
input{
    width: 20%;
    margin: 15px 5px;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    background-color: #ffffff;
    font-family: mon;
    color: #000;
    text-align: center;
}
input:focus {
    margin: 15px 20px;
    background-color: #fff;
    color: #000;
    font-family: man;
  }
.Order button{
    font-family: mon;
}

#loader{
    text-align: center;
    height: 50px;
    width: 50px;
    border: 15px solid #000;
    border-top: 15px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 48%;
}
@keyframes spin{
    100%{transform: rotate(360deg);}
}
input[type="text"]:checked {
    box-shadow: 0 0 0 3px orange;
  }
@media (max-width :858px){
    section{
        padding: 20px;
    }
    section h1{
        padding-bottom: 25px;
        font-size: 25px;
    }
    .Elments{
        width: 150px;
        margin: 15px;
    }
    .Elments h1{
        font-size: 15px;
        margin-bottom: 2px;
    }
    img{
        width: 60px;
    }
    input{
        width: 80%;
    }
    #loader{
        margin-right: 100px;
    }
}                   